@import 'scss/variables';
@import '~@angular/material/theming';

$config: mat-typography-config();

@mixin addColor($color) {
  background-color: transparentize($color, 0.8);
  border-color: $color;
  color: $color;
}

:host(.transparent.dark) {
  mat-card {
    background-color: transparent;
    border-color: transparent;
    color: #fff;
  }
}

:host-context(.info) {
  mat-card {
    @include addColor(#b5b5b5);
  }
}

:host-context(.success) {
  mat-card {
    @include addColor($success);
  }
}

:host-context(.danger) {
  mat-card {
    @include addColor($danger);
  }
}

:host-context(.primary) {
  mat-card {
    @include addColor($primary);
  }
}

:host-context(.secondary) {
  mat-card {
    @include addColor($secondary);
  }
}

mat-card {
  border: 2px solid;
  mat-card-content {
    @include mat-typography-level-to-styles($config, display-3);
    text-align: center;
  }
}
