@import '~@angular/material/theming';

mat-sidenav-container {
  height: 100%;
  mat-sidenav {
    padding: 15px;
    .sidenav-wrapper {
      height: 100%;
      .search {
        overflow: hidden;
      }
    }
  }
  mat-sidenav-content {
    position: relative;
    .sidenav-btn {
      left: 15px;
      position: absolute;
      top: 15px;
      z-index: 999;
    }
  }
}

// .home-page {
//   height: calc(100% - 30px);
//   position: absolute;
//   width: calc(100% - 30px);
//   h1 {
//     text-align: center;
//   }

//   h3 {
//     text-align: center;
//   }

//   .search {
//     width: 100%;
//   }
// }
