<!-- <app-loading></app-loading> -->
<mat-sidenav-container>
  <mat-sidenav #nav [fixedInViewport]="true" [mode]="mobileQuery.matches ? 'over' : 'side'" [opened]="!mobileQuery.matches || opened">
    <div class="sidenav-wrapper" fxLayout="column">
      <h1>COVID-SP</h1>
      <h3 i18n>Acompanhe a situação do seu município</h3>
      <div class="search">
        <app-search (citySelected)="citySelected($event)"></app-search>
      </div>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <button color="basic" class="sidenav-btn" mat-fab (click)="nav.toggle()">
      <fa-icon [icon]="['fas', 'bars']"></fa-icon>
    </button>
    <app-total-map *ngIf="!redirecting" (citySelected)="citySelected($event)"></app-total-map>
  </mat-sidenav-content>
</mat-sidenav-container>
