@import '~@angular/material/theming';

$config: mat-typography-config();

.home-page {
  min-height: calc(100vh - 30px);
  h1 {
    text-align: center;
  }

  h3 {
    text-align: center;
  }

  .search {
    width: 100%;
  }
}
