.search-wrapper {
  height: 100%;
  mat-form-field {
    width: 100%;
  }
  mat-list {
    overflow: hidden;
    ngx-simplebar {
      height: 100%;
    }
    mat-list-item {
      button {
        text-align: left;
        width: 100%;
      }
    }
  }
}
