<div class="search-wrapper" fxLayout="column">
  <mat-form-field appearance="outline" color="primary">
    <mat-label i18n>Município</mat-label>
    <input matInput [formControl]="searchControl" type="text">
  </mat-form-field>
  <mat-list fxLayout="column">
    <ngx-simplebar>
      <mat-list-item *ngFor="let option of filteredOptions | async">
        <button (click)="onClick($event, option)" mat-flat-button>
          {{option.name}}
        </button>
      </mat-list-item>
      <mat-list-item *ngIf="!(filteredOptions | async)?.length && searchControl.dirty" i18n>
        Município não encontrado
      </mat-list-item>
    </ngx-simplebar>
  </mat-list>
</div>
